<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"></ul></div>

In [2]:
import sqlite3
import pandas as pd

In [3]:
con = sqlite3.connect(':memory:')

In [4]:
data = pd.read_csv('boston.csv')
data.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

In [5]:
data.to_sql('boston', con, index=False, if_exists='replace')

506

In [6]:
tasks = 0

__–í—Å–µ –∑–∞–¥–∞–Ω–∏—è –Ω—É–∂–Ω–æ –≤—ã–ø–æ–ª–Ω–∏—Ç—å —Ç–æ–ª—å–∫–æ —Å –ø–æ–º–æ—â—å—é sql__

__–í—ã–≤–µ–¥–∏—Ç–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –ø—É—Å—Ç—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π –ø–æ –∫–æ–ª–æ–Ω–∫–∞–º CRIM, ZN, INDUS, CHAS, NOX (–Ω–∞–∑–≤–∞–Ω–∏–µ –∫–æ–ª–æ–Ω–∫–∏, –∫–æ–ª-–≤–æ –ø—É—Å—Ç—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π)__

In [7]:
tasks+=1
pd.read_sql(
    '''
    SELECT 
          SUM(IIF(CRIM is NULL, 1, 0)) AS cnt_CRIM,
          SUM(IIF(ZN is NULL, 1, 0)) AS cnt_ZN,
          SUM(IIF(INDUS is NULL, 1, 0)) AS cnt_INDUS,
          SUM(IIF(CHAS is NULL, 1, 0)) AS cnt_CHAS,
          SUM(IIF(NOX is NULL, 1, 0)) AS cnt_NOX
    FROM boston
    

    ''',
    con,
)

   cnt_CRIM  cnt_ZN  cnt_INDUS  cnt_CHAS  cnt_NOX
0         0       0          0         0        0

–ü—É—Å—Ç—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π –Ω–µ—Ç ‚Üë

__–í—ã–≤–µ–¥–∏—Ç–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —É–Ω–∏–∫–∞–ª—å–Ω—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π –ø–æ –∫–æ–ª–æ–Ω–æ–∫–∞–º CRIM, ZN, INDUS, CHAS, NOX (–Ω–∞–∑–≤–∞–Ω–∏–µ –∫–æ–ª–æ–Ω–∫–∏, –∫–æ–ª-–≤–æ —É–Ω–∏–∫–∞–ª—å–Ω—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π)__

In [8]:
tasks+=1
pd.read_sql(
    '''
    SELECT 
          COUNT(DISTINCT CRIM) AS dist_CRIM,
          COUNT(DISTINCT ZN) AS dist_ZN,
          COUNT(DISTINCT INDUS) AS dist_INDUS,
          COUNT(DISTINCT CHAS) AS dist_CHAS,
          COUNT(DISTINCT NOX) AS dis_NOX
    FROM boston
    limit 5
    ''',
    con,
)

   dist_CRIM  dist_ZN  dist_INDUS  dist_CHAS  dis_NOX
0        504       26          76          2       81

__–í—ã–≤–µ–¥–∏—Ç–µ –∫–æ–ª–æ–Ω–∫–∏, —É –∫–æ—Ç–æ—Ä—ã—Ö –º–µ–¥–∏–∞–Ω–∞ —Ä–∞–≤–Ω–∞ –º–∏–Ω–∏–º–∞–ª—å–Ω–æ–º—É –∑–Ω–∞—á–µ–Ω–∏—é (–Ω–∞–∑–≤–∞–Ω–∏–µ –∫–æ–ª–æ–Ω–∫–∏) –≤—ã–±–∏—Ä–∞—è –∏–∑ CRIM, ZN, INDUS, CHAS, NOX.__

–ù–∞–ø–∏—à–∏—Ç–µ –∫–∞–∫–æ–π –≤—ã–≤–æ–¥ –º–æ–∂–Ω–æ —Å–¥–µ–ª–∞—Ç—å –ø–æ –¥–∞–Ω–Ω—ã–º –≤ —ç—Ç–∏—Ö –∫–æ–ª–æ–Ω–∫–∞—Ö

–°–Ω–∞—á–∞–ª–∞ –Ω–∞–π–¥—ë–º –º–µ–¥–∏–∞–Ω—ã –≤ –∫–∞–∂–¥–æ–π –∫–æ–ª–æ–Ω–∫–µ –∏ –¥–∞–ª–µ–µ —Å—Ä–∞–≤–Ω–∏–º –∏—Ö —Å –º–∏–Ω–∏–º–∞–ª—å–Ω—ã–º–∏ –∑–Ω–∞—á–µ–Ω–∏—è–º–∏ –∫–∞–∂–¥–æ–π –∏–∑ —ç—Ç–∏—Ö –∫–æ–ª–æ–Ω–æ–∫

In [9]:
tasks+=1
pd.read_sql(
    '''
    WITH median_CRIM AS
    (SELECT 
           CRIM AS CRIM
    FROM boston
    ORDER BY CRIM
    LIMIT 2
    OFFSET (SELECT (COUNT(CRIM) - 1) / 2
              FROM boston)
    ),
    
    median_ZN AS
    (SELECT 
           ZN
     FROM boston
     ORDER BY ZN
     LIMIT 2
     OFFSET (SELECT (COUNT(ZN) - 1) / 2
              FROM boston)
    ),
    
    median_INDUS AS
    (SELECT 
           INDUS
     FROM boston
     ORDER BY INDUS
     LIMIT 2
     OFFSET (SELECT (COUNT(INDUS) - 1) / 2
              FROM boston)
    ),
    
    median_CHAS AS
    (SELECT 
           CHAS
     FROM boston
     ORDER BY CHAS
     LIMIT 2
     OFFSET (SELECT (COUNT(CHAS) - 1) / 2
              FROM boston)
    ),
    
    median_NOX AS
    (SELECT 
           NOX
     FROM boston
     ORDER BY NOX
     LIMIT 2
     OFFSET (SELECT (COUNT(NOX) - 1) / 2
              FROM boston)
    )
    
    SELECT DISTINCT 
           median_CRIM.CRIM AS mediana_CRIM,
           MIN(boston.CRIM) AS min_CRIM,
           median_ZN.ZN AS mediana_ZN,
           MIN(boston.ZN) AS min_ZN,
           median_INDUS.INDUS AS mediana_INDUS,
           MIN(boston.INDUS) AS min_INDUS,
           median_CHAS.CHAS AS mediana_CHAS,
           MIN(boston.CHAS) AS min_CHAS,
           median_NOX.NOX AS mediana_NOX,
           MIN(boston.NOX) AS min_NOX
           
    FROM boston JOIN median_CRIM 
                JOIN median_ZN 
                JOIN median_INDUS
                JOIN median_CHAS
                JOIN median_NOX
    ''',
    con,
)

,mediana_CRIM,min_CRIM,mediana_ZN,min_ZN,mediana_INDUS,min_INDUS,mediana_CHAS,min_CHAS,mediana_NOX,min_NOX
0,0.25387,0.00632,0.0,0.0,9.69,0.46,0.0,0.0,0.538,0.385

‚Üë –í –∫–æ–ª–æ–Ω–∫–∞—Ö ZN, CHAS –º–µ–¥–∏–∞–Ω–∞ —Ä–∞–≤–Ω–∞ –º–∏–Ω–∏–º–∞–ª—å–Ω–æ–º—É –∑–Ω–∞—á–µ–Ω–∏—é.

–≠—Ç–æ –∑–Ω–∞—á–∏—Ç, —á—Ç–æ –º–∏–Ω–∏–º–∞–ª—å–Ω—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π –≤ —ç—Ç–∏—Ö –∫–æ–ª–æ–Ω–∫–∞—Ö –±–æ–ª—å—à–µ –ø–æ–ª–æ–≤–∏–Ω—ã. –¢–æ –µ—Å—Ç—å –≤ –ë–æ—Å—Ç–æ–Ω–µ –¥–æ–ª—è –∂–∏–ª–æ–π –∑–µ–º–ª–∏ –∏ –Ω–∞–ª–∏—á–∏–µ –≤–æ–¥–æ—ë–º–æ–≤ - –º–∏–Ω–∏–º–∞–ª—å–Ω–æ

__–í—ã–≤–µ–¥–∏—Ç–µ —Ä–∞–∑–Ω–∏—Ü—É –º–µ–∂–¥—É —Å—Ä–µ–¥–Ω–µ–º –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ–º –∫–æ–º–Ω–∞—Ç(RM) –≤ –¥–æ–º–∞—Ö —Å —Å–∞–º–æ–π –¥–æ—Ä–æ–≥–æ–π —Å—Ç–æ–∏–º–æ—Å—Ç—å—é(MEDV) –∏ 25 —Å–∞–º—ã–º–∏ –¥–µ—à–µ–≤—ã–º–∏ –¥–æ–º–∞–º–∏. –ê–Ω–∞–ª–æ–≥–∏—á–Ω–æ –ø–æ 50, 100, 200, 300 —Å–∞–º—ã–º–∏ –¥–µ—à–µ–≤—ã–º–∏ –¥–æ–º–∞–º–∏. (–∫–æ–ª-–≤–æ –¥–æ–º–æ–≤(25,50,100,200,300), —Å—Ä–µ–¥–Ω–µ–µ –∫–æ–ª-–≤–æ –∫–æ–º–Ω–∞—Ç –≤ –Ω–∏—Ö, —Å—Ä–µ–¥–Ω–µ–µ –∫–æ–ª-–≤–æ –∫–æ–º–Ω–∞—Ç –≤ —Å–∞–º—ã—Ö –¥–æ—Ä–æ–≥–∏—Ö, —Ä–∞–∑–Ω–∏—Ü–∞). –ù–∞–ø–∏—à–∏—Ç–µ –≤–ª–∏—è–µ—Ç –ª–∏ –∫–æ–ª-–≤–æ –∫–æ–º–Ω–∞—Ç –Ω–∞ —Å—Ç–æ–∏–º–æ—Å—Ç—å –∏ –∫–∞–∫ —Å–∏–ª—å–Ω–æ.__

–°–Ω–∞—á–∞–ª–∞ —Ä–µ—à–∞–ª–∞ –∑–∞–¥–∞—á—É —Å –ø–æ–º–æ—â—å—é CTE, –ø–æ—Ç–æ–º —É–∂–µ —Å –ø–æ–º–æ—â—å—é –æ–∫–æ–Ω–Ω—ã—Ö —Ñ—É–Ω–∫—Ü–∏–π, –æ—Å—Ç–∞–≤–∏–ª–∞ –¥–ª—è —Å–µ–±—è –æ–±–∞ –≤–∞—Ä–∏–∞–Ω—Ç–∞

–°–Ω–∞—á–∞–ª–∞ –Ω–∞–π–¥—ë–º —Å—Ä–µ–¥–Ω–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –∫–æ–º–Ω–∞—Ç –≤ —Å–∞–º—ã—Ö –¥–æ—Ä–æ–≥–∏—Ö –¥–æ–º–∞—Ö, –ø–æ—Ç–æ–º —Å—Ä–µ–¥–Ω–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –∫–æ–º–Ω–∞—Ç –≤ 25,50,100,200,300 —Å–∞–º—ã—Ö –¥–µ—à–µ–≤—ã—Ö –¥–æ–º–∞—Ö –∏ –≤—ã—á—Ç–µ–º –æ–¥–Ω–æ –∏–∑ –¥—Ä—É–≥–æ–≥–æ:

1-–π —Å–ø–æ—Å–æ–±:

In [10]:
tasks+=1
pd.read_sql(
    '''
    WITH max_RM AS 
    (SELECT 
          AVG(RM) AS avg_MAX_RM
    FROM boston
    WHERE MEDV in (SELECT 
                        MAX(MEDV) AS max_MEDV
                   FROM boston
                   )
    ),
    
    avg_min_RM_25 AS 
    (SELECT AVG(RM) AS avg_RM_25
     FROM boston
     WHERE MEDV in (SELECT MEDV
                    FROM boston
                    ORDER BY MEDV
                    LIMIT 25
                    )
         
     ),
     
    avg_min_RM_50 AS 
    (SELECT AVG(RM) AS avg_RM_50
     FROM boston
     WHERE MEDV in (SELECT MEDV
                    FROM boston
                    ORDER BY MEDV
                    LIMIT 50
                    )
         
     ),
     
    avg_min_RM_100 AS 
    (SELECT AVG(RM) AS avg_RM_100
     FROM boston
     WHERE MEDV in (SELECT MEDV
                    FROM boston
                    ORDER BY MEDV
                    LIMIT 100
                    )
         
     ),
     
    avg_min_RM_200 AS 
    (SELECT AVG(RM) AS avg_RM_200
     FROM boston
     WHERE MEDV in (SELECT MEDV
                    FROM boston
                    ORDER BY MEDV
                    LIMIT 200
                    )
         
     ),
     
    avg_min_RM_300 AS 
    (SELECT AVG(RM) AS avg_RM_300
     FROM boston
     WHERE MEDV in (SELECT MEDV
                    FROM boston
                    ORDER BY MEDV
                    LIMIT 300
                    )
         
     )
    
    SELECT DISTINCT 
                avg_RM_25,
                avg_RM_50,
                avg_RM_100,
                avg_RM_200,
                avg_RM_300,
                avg_MAX_RM,
                avg_MAX_RM-avg_RM_25 AS dif_avg_25,   
                avg_MAX_RM-avg_RM_50 AS dif_avg_50,
                avg_MAX_RM-avg_RM_100 AS dif_avg_100,
                avg_MAX_RM-avg_RM_200 AS dif_avg_200,
                avg_MAX_RM-avg_RM_300 AS dif_avg_300                 
    FROM boston JOIN max_RM
                JOIN avg_min_RM_25
                JOIN avg_min_RM_50
                JOIN avg_min_RM_100
                JOIN avg_min_RM_200
                JOIN avg_min_RM_300
       
    ''',
    con,
)

,avg_RM_25,avg_RM_50,avg_RM_100,avg_RM_200,avg_RM_300,avg_MAX_RM,dif_avg_25,dif_avg_50,dif_avg_100,dif_avg_200,dif_avg_300
0,5.719,5.757608,5.882832,5.913284,5.973884,7.484,1.765,1.726392,1.601168,1.570716,1.510116

2-–π —Å–ø–æ—Å–æ–±:

In [11]:
pd.read_sql(
    '''
    WITH max_RM AS 
              (SELECT 
                     AVG(RM) AS avg_MAX_RM
                     
               FROM boston
               WHERE MEDV in (SELECT 
                                    MAX(MEDV) AS max_MEDV
                              FROM boston
                              )
                )
                 
    SELECT 
           AVG(RM) OVER (ORDER BY MEDV ROWS BETWEEN unbounded preceding AND 25 FOLLOWING) as 'avg_RM_25',
           AVG(RM) OVER (ORDER BY MEDV ROWS BETWEEN unbounded preceding AND 50 FOLLOWING) as 'avg_RM_50',
           AVG(RM) OVER (ORDER BY MEDV ROWS BETWEEN unbounded preceding AND 100 FOLLOWING) as 'avg_RM_100',
           AVG(RM) OVER (ORDER BY MEDV ROWS BETWEEN unbounded preceding AND 200 FOLLOWING) as 'avg_RM_200',
           AVG(RM) OVER (ORDER BY MEDV ROWS BETWEEN unbounded preceding AND 300 FOLLOWING) as 'avg_RM_300',
           avg_MAX_RM,
           avg_MAX_RM-AVG(RM) OVER (ORDER BY MEDV ROWS BETWEEN unbounded preceding AND 25 FOLLOWING) AS dif_avg_25,
           avg_MAX_RM-AVG(RM) OVER (ORDER BY MEDV ROWS BETWEEN unbounded preceding AND 50 FOLLOWING) AS dif_avg_50,
           avg_MAX_RM-AVG(RM) OVER (ORDER BY MEDV ROWS BETWEEN unbounded preceding AND 100 FOLLOWING) AS dif_avg_100,
           avg_MAX_RM-AVG(RM) OVER (ORDER BY MEDV ROWS BETWEEN unbounded preceding AND 200 FOLLOWING) AS dif_avg_200,
           avg_MAX_RM-AVG(RM) OVER (ORDER BY MEDV ROWS BETWEEN unbounded preceding AND 300 FOLLOWING) AS dif_avg_300
                
    FROM boston JOIN max_RM
    ORDER BY  MEDV    
    LIMIT 1
    
    ''',
    con,
)

,avg_RM_25,avg_RM_50,avg_RM_100,avg_RM_200,avg_RM_300,avg_MAX_RM,dif_avg_25,dif_avg_50,dif_avg_100,dif_avg_200,dif_avg_300
0,5.714462,5.757608,5.882832,5.913284,5.973425,7.484,1.769538,1.726392,1.601168,1.570716,1.510575

–í–æ –≤—Ç–æ—Ä–æ–º –≤–∞—Ä–∏–∞–Ω—Ç–µ –æ—Ç–ª–∏—á–∞–µ—Ç—Å—è —Å—Ä–µ–¥–Ω–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –∫–æ–º–Ω–∞—Ç –¥–ª—è —Å–∞–º—ã—Ö –¥–µ—à–µ–≤—ã—Ö 25 –¥–æ–º–æ–≤, –ø–æ—Ç–æ–º—É —á—Ç–æ —É 24,25,26 –¥–æ–º–∞ –æ–¥–∏–Ω–∞–∫–æ–≤–∞—è —Å—Ç–æ–∏–º–æ—Å—Ç—å: –≤ –ø–µ—Ä–≤–æ–º –≤–∞—Ä–∏–∞–Ω—Ç–µ —ç—Ç–æ —É—á–∏—Ç—ã–≤–∞–µ—Ç—Å—è, –∞ –≤–æ –≤—Ç–æ—Ä–æ–º –±–µ—Ä–µ—Ç—Å—è —Ä–æ–≤–Ω–æ 25 –¥–æ–º–æ–≤ –∏ —Å—á–∏—Ç–∞–µ—Ç—Å—è —Å—Ä–µ–¥–Ω–µ–µ

‚Üë –ß–µ–º –±–æ–ª—å—à–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –∫–æ–º–Ω—Ç–∞, —Ç–µ–º –≤—ã—à–µ —Å—Ç–æ–∏–º–æ—Å—Ç—å –¥–æ–º–∞

__–í—ã–≤–µ–¥–∏—Ç–µ —Ä–∞–Ω–≥–∏ –∑–Ω–∞—á–µ–Ω–∏–π –∫–æ–ª–æ–Ω–∫–∏ LSTAT(–ø—Ä–æ—Ü–µ–Ω—Ç –Ω–∞—Å–µ–ª–µ–Ω–∏—è —Å –±–æ–ª–µ–µ –Ω–∏–∑–∫–∏–º —Å—Ç–∞—Ç—É—Å–æ–º) –≤ –¥–æ–º–∞—Ö —Å —Å–∞–º–æ–π –¥–æ—Ä–æ–≥–æ–π —Å—Ç–æ–∏–º–æ—Å—Ç—å—é (–∑–Ω–∞—á–µ–Ω–∏–µ LSTAT, —Å—Ç–æ–∏–º–æ—Å—Ç—å, —Ä–∞–Ω–≥) —Å—Ä–µ–¥–∏ –≤—Å–µ—Ö –∑–Ω–∞—á–µ–Ω–∏–π LSTAT. –ù–∞–ø–∏—à–∏—Ç–µ –∫–∞–∫–æ–π –≤—ã–≤–æ–¥ –º–æ–∂–Ω–æ —Å–¥–µ–ª–∞—Ç—å –ø–æ —ç—Ç–∏–º –¥–∞–Ω–Ω—ã–º.__

In [12]:
tasks+=1
pd.read_sql(
    '''     
    WITH rank_by_LSTATT AS
    (SELECT 
           LSTAT,
           MEDV,rank() OVER (ORDER BY LSTAT) rank_by_LSTAT
     FROM boston
     ) 
    
    SELECT 
           LSTAT,
           MEDV,
           rank_by_LSTAT          
    FROM rank_by_LSTATT
    WHERE MEDV in (SELECT 
                          MAX(boston.MEDV) AS max_MEDV
                   FROM boston
                  )
   
    ''',
    con,
)

    LSTAT  MEDV  rank_by_LSTAT
0    1.73  50.0              1
1    1.92  50.0              2
2    2.88  50.0              6
3    2.96  50.0              8
4    2.97  50.0              9
5    3.16  50.0             15
6    3.26  50.0             17
7    3.32  50.0             18
8    3.70  50.0             26
9    3.73  50.0             27
10   4.45  50.0             41
11   4.63  50.0             50
12   5.12  50.0             67
13   7.44  50.0            141
14   8.88  50.0            181
15   9.53  50.0            203

   ‚Üë –ü–æ —ç—Ç–∏–º –¥–∞–Ω–Ω—ã–º –Ω–µ–ª—å–∑—è —Å–¥–µ–ª–∞—Ç—å –∫–∞–∫–æ–π-—Ç–æ –æ–¥–Ω–æ–∑–Ω–∞—á–Ω—ã–π –≤—ã–≤–æ–¥, –ø–æ—Å–∫–æ–ª—å–∫—É –º—ã –≤–∏–¥–∏–º, —á—Ç–æ –ø—Ä–æ—Ü–µ–Ω—Ç –Ω–∞—Å–µ–ª–µ–Ω–∏—è —Å –±–æ–ª–µ–µ –Ω–∏–∑–∫–∏–º —Å—Ç–∞—Ç—É—Å–æ–º –≤ —Å–∞–º—ã—Ö –¥–æ—Ä–æ–≥–∏—Ö –¥–æ–º–∞—Ö —Ç–∞–∫ –∂–µ –ø—Ä–∏—Å—É—Ç—Å—Ç–≤—É–µ—Ç, —Ö–æ—Ç—è –∏ –æ—á–µ–≤–∏–¥–Ω–æ, —á—Ç–æ –≤ —ç—Ç–∏—Ö –¥–æ–º–∞—Ö –æ–Ω –º–∏–Ω–∏–º–∞–ª—å–Ω—ã–π –ø–æ —Å—Ä–∞–≤–Ω–µ–Ω–∏—é —Å –±–æ–ª–µ–µ –¥–µ—à–µ–≤—ã–º–∏ –¥–æ–º–∞–º–∏. –ù—É–∂–Ω—ã –¥–æ–ø–æ–ª–Ω–∏—Ç–µ–ª—å–Ω—ã–µ —Ñ–∞–∫—Ç–æ—Ä—ã

__–í—ã–≤–µ–¥–∏—Ç–µ —Å—Ä–µ–¥–Ω—é—é —Å—Ç–æ–∏–º–æ—Å—Ç—å –¥–æ–º–æ–≤ –≥—Ä–∞–Ω–∏—á–∞—â–∏—Ö —Å —Ä–µ–∫–æ–π(CHAS) –∏ –Ω–µ—Ç (–≥—Ä–∞–Ω–∏—á–∏—Ç/–Ω–µ –≥—Ä–∞–Ω–∏—á–∏—Ç, —Å—Ç–æ–∏–º–æ—Å—Ç—å)__

In [13]:
tasks+=1
pd.read_sql(
    '''
    SELECT Distinct CHAS,
           AVG(MEDV) OVER (Partition BY CHAS) AS avg_MEDV_by_Chas
    FROM boston
    
    ''',
    con,
)

   CHAS  avg_MEDV_by_Chas
0   0.0         22.093843
1   1.0         28.440000

‚Üë –ù–∞–ª–∏—á–∏–µ –≤–æ–¥–æ—ë–º–∞ —Ä—è–¥–æ–º —è–≤–Ω–æ —É–≤–µ–ª–∏—á–∏–≤–∞–µ—Ç —Å—Ç–æ–∏–º–æ—Å—Ç—å –∂–∏–ª—å—è

__–í—ã–≤–µ–¥–∏—Ç–µ –≤—Å–µ –∫–æ–ª–æ–Ω–∫–∏, —É –∫–æ—Ç–æ—Ä—ã—Ö —Å—Ä–µ–¥–Ω–µ–µ –∑–Ω–∞—á–µ–Ω–∏–µ –≤—ã—à–µ, –∫–æ–≥–¥–∞ –¥–æ–º –≥—Ä–∞–Ω–∏—á–∏—Ç —Å —Ä–µ–∫–æ–π (–Ω–∞–∑–≤–∞–Ω–∏–µ –∫–æ–ª–æ–Ω–∫–∏) –≤—ã–±–∏—Ä–∞—è –∏–∑ CRIM, ZN, INDUS, CHAS, NOX. –ù–∞–ø–∏—à–∏—Ç–µ –∫–∞–∫–æ–π –≤—ã–≤–æ–¥ –º–æ–∂–Ω–æ —Å–¥–µ–ª–∞—Ç—å –ø–æ —ç—Ç–∏–º –¥–∞–Ω–Ω—ã–º.__

In [14]:
tasks+=1
pd.read_sql(
    '''
    SELECT Distinct CHAS,
           AVG(CRIM) OVER (Partition BY CHAS) AS avg_CRIM,
           AVG(ZN) OVER (Partition BY CHAS) AS avg_ZN,
           AVG(INDUS) OVER (Partition BY CHAS) AS avg_INDUS,
           AVG(NOX) OVER (Partition BY CHAS) AS avg_NOX
    FROM boston
       
    ''',
    con,
)

   CHAS  avg_CRIM     avg_ZN  avg_INDUS   avg_NOX
0   0.0  3.723215  11.634820  11.019193  0.551817
1   1.0  1.851670   7.714286  12.719143  0.593426

 –í —Ç–∞–±–ª–∏—Ü–µ ‚Üë –º—ã –≤–∏–¥–∏–º, —á—Ç–æ –ø—Ä–∏ CHAS=1, —Å—Ä–µ–¥–Ω–µ–µ –∑–Ω–∞—á–µ–Ω–∏–µ –∫–æ–ª–æ–Ω–æ–∫ INDUS –∏ NOX - –≤—ã—à–µ, —á–µ–º –ø—Ä–∏ CHAS=0.
 –ê —Å—Ä–µ–¥–Ω–µ–µ –∑–Ω–∞—á–µ–Ω–∏–µ –∫–æ–ª–æ–Ω–æ–∫ CRIM,ZN –ø—Ä–∏ CHAS=1 —Å–∏–ª—å–Ω–æ –Ω–∏–∂–µ.

–ü—Ä–æ–º—ã—à–ª–µ–Ω–Ω–æ—Å—Ç—å —Ä—è–¥–æ–º —Å –≤–æ–¥–æ—ë–º–æ–º –±–æ–ª–µ–µ —Ä–∞–∑–≤–∏—Ç–∞ –∏ –∫–æ–Ω—Ü–µ–Ω—Ç—Ä–∞—Ü–∏—è –æ–∫—Å–∏–¥–æ–≤ –∞–∑–æ—Ç–∞ –±–æ–ª–µ–µ –≤—ã—Ä–∞–∂–µ–Ω–Ω–∞—è.

–£—Ä–æ–≤–µ–Ω—å –ø—Ä–µ—Å—Ç—É–ø–Ω–æ—Å—Ç–∏ –≤ –¥–≤–∞ —Ä–∞–∑–∞ –Ω–∏–∂–µ –≤ –¥–æ–º–∞—Ö –ø—Ä–∏ –≤–æ–¥–æ—ë–º–∞—Ö: –≤–æ–∑–º–æ–∂–Ω–æ –Ω–∞–ª–∏—á–∏–µ –≤–æ–¥—ã, –∂–∏–ª–æ–π –∑–µ–º–ª–∏ –∏ —á–∏—Å—Ç–æ–≥–æ –≤–æ–∑–¥—É—Ö–∞  –∫–∞–∫–∏–º-—Ç–æ –æ–±—Ä–∞–∑–æ–º —É—Ç–∏—Ö–æ–º–∏—Ä–∏–≤–∞–µ—Ç –¥—É—à—É –ø—Ä–µ—Å—Ç—É–ø–Ω–∏–∫–æ–≤.

__–í—ã–≤–µ–¥–∏—Ç–µ –∑–Ω–∞—á–µ–Ω–∏—è –¥–æ–ª–µ–π –ø—Ä–æ–º—ã—à–ª–µ–Ω–Ω–æ–π –∑–∞—Å—Ç—Ä–æ–π–∫–∏(INDUS), –∫–æ–Ω—Ü–µ–Ω—Ç—Ä–∞—Ü–∏–∏ –æ–∫—Å–∏–¥–æ–≤ –∞–∑–æ—Ç–∞(NOX) –∏ –ø–æ –∏—Ö –ø–µ—Ä—Ü–µ–Ω—Ç–∏–ª—è–º - 10, 20 ... 100 ( –ø–µ—Ä—Ü–µ–Ω—Ç–∏–ª—å(10,20...100),–∑–Ω–∞—á–µ–Ω–∏–µ INDUS, –∑–Ω–∞—á–µ–Ω–∏–µ NOX). –ù–∞–ø–∏—à–∏—Ç–µ –ø—Ä–æ—Å–ª–µ–∂–∏–≤–∞–µ—Ç—Å—è –º–µ–∂–¥—É –Ω–∏–º–∏ –≤–∑–∞–∏–º–æ—Å–≤—è–∑—å__

In [17]:
pd.read_sql(
    """
    with pin as (
        SELECT INDUS , PERCENT_RANK() OVER(ORDER BY INDUS ASC) as pin FROM boston
    ),
    pox as (
        SELECT NOX, PERCENT_RANK() OVER(ORDER BY NOX ASC) as pox FROM boston
    )
    SELECT 10 percintile, MAX(pin.INDUS) indus, MAX(pox.NOX) nox from pin, pox WHERE pin.pin <= 0.1 and pox.pox <= 0.1
    UNION
    SELECT 20 , MAX(pin.INDUS) indus, MAX(pox.NOX) nox from pin, pox WHERE pin.pin <= 0.2 and pox.pox <= 0.2
    UNION
    SELECT 30 , MAX(pin.INDUS) indus, MAX(pox.NOX) nox from pin, pox WHERE pin.pin <= 0.3 and pox.pox <= 0.3
    UNION
    SELECT 40 , MAX(pin.INDUS) indus, MAX(pox.NOX) nox from pin, pox WHERE pin.pin <= 0.4 and pox.pox <= 0.4
    UNION
    SELECT 50 , MAX(pin.INDUS) indus, MAX(pox.NOX) nox from pin, pox WHERE pin.pin <= 0.5 and pox.pox <= 0.5
    UNION
    SELECT 60 , MAX(pin.INDUS) indus, MAX(pox.NOX) nox from pin, pox WHERE pin.pin <= 0.6 and pox.pox <= 0.6
    UNION
    SELECT 70 , MAX(pin.INDUS) indus, MAX(pox.NOX) nox from pin, pox WHERE pin.pin <= 0.7 and pox.pox <= 0.7
    UNION
    SELECT 80 , MAX(pin.INDUS) indus, MAX(pox.NOX) nox from pin, pox WHERE pin.pin <= 0.8 and pox.pox <= 0.8
    UNION
    SELECT 90 , MAX(pin.INDUS) indus, MAX(pox.NOX) nox from pin, pox WHERE pin.pin <= 0.9 and pox.pox <= 0.9
    UNION
    SELECT 100 , MAX(pin.INDUS) indus, MAX(pox.NOX) nox from pin, pox WHERE pin.pin <= 1 and pox.pox <= 1
    

    
    
    limit 100
    """,
    con,
)

   percintile  indus    nox
0          10   2.89  0.426
1          20   4.39  0.442
2          30   5.96  0.472
3          40   7.38  0.507
4          50   9.69  0.538
5          60  12.83  0.575
6          70  18.10  0.605
7          80  18.10  0.668
8          90  19.58  0.713
9         100  27.74  0.871

–° —Ä–æ—Å—Ç–æ–º –ø—Ä–æ–º—ã—à–ª–µ–Ω–Ω–æ—Å—Ç–∏ —Ä–∞—Å—Ç—ë—Ç –∏ NOX

In [16]:
if tasks==8:
    print('–í—ã–ø–æ–ª–Ω–µ–Ω—ã –≤—Å–µ –∑–∞–¥–∞–Ω–∏—è üôÇ')
else:
    print('–í—ã–ø–æ–ª–Ω–µ–Ω—ã –Ω–µ –≤—Å–µ –∑–∞–¥–∞–Ω–∏—è! üôÄ')

–í—ã–ø–æ–ª–Ω–µ–Ω—ã –≤—Å–µ –∑–∞–¥–∞–Ω–∏—è üôÇ